{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage", //按需引入
                "corejs": 3 //版本
            }
        ]
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "absoluteRuntime": false,
                "corejs": 3,
                "helpers": true,
                "regenerator": true,
                "useESModules": false
            }
        ]
    ]
}